# 2. Data normalization/unification

#### Imports and constants

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from pathlib import Path
from datetime import datetime

# Geometry libraries
import geopandas as gpd
from shapely.geometry import Polygon, LineString, Point


ROOT = Path.cwd()

#### Reading

In [2]:
DataDir = ROOT / "Data"
DataDir

WindowsPath('d:/00.Mis_Cosas/Universidad/Master/Q2/DMT/Project/Project2_Processing&Querying_TransportationData/Code/Data')

In [23]:
#chlorophyllDF = gpd.read_file(DataDir / "geoChlorophyll.shp")
#temperatureDF = gpd.read_file(DataDir / "geoTemperature.shp")
chlorophyllDF = pd.read_csv(DataDir / "clean_chlorophyll.csv")
temperatureDF = pd.read_csv(DataDir / "clean_temperature.csv")

In [24]:
chlorophyllDF

              time  latitude  longitude  chlor_a               geometry
0       2020-01-01    -35.25     -69.75     1.04  POINT (-35.25 -69.75)
1       2020-01-01    -35.25     -69.25     1.04  POINT (-35.25 -69.25)
2       2020-01-01    -35.25     -68.75     1.04  POINT (-35.25 -68.75)
3       2020-01-01    -35.25     -68.25     1.04  POINT (-35.25 -68.25)
4       2020-01-01    -35.25     -67.75     1.04  POINT (-35.25 -67.75)
...            ...       ...        ...      ...                    ...
218395  2020-06-30    -49.75     -52.25     1.04  POINT (-49.75 -52.25)
218396  2020-06-30    -49.75     -51.75     1.04  POINT (-49.75 -51.75)
218397  2020-06-30    -49.75     -51.25     1.04  POINT (-49.75 -51.25)
218398  2020-06-30    -49.75     -50.75     1.04  POINT (-49.75 -50.75)
218399  2020-06-30    -49.75     -50.25     1.04  POINT (-49.75 -50.25)

[218400 rows x 5 columns]

In [25]:
chlorophyllDF.dtypes

time          object
latitude     float64
longitude    float64
chlor_a      float64
geometry      object
dtype: object

In [26]:
temperatureDF

,time,latitude,longitude,temperature,partOfTheDay,geometry
0,2020-01-01,-35.25,-69.75,288.169121,day,POINT (-35.25 -69.75)
1,2020-01-01,-35.25,-69.25,288.169121,day,POINT (-35.25 -69.25)
2,2020-01-01,-35.25,-68.75,288.169121,day,POINT (-35.25 -68.75)
3,2020-01-01,-35.25,-68.25,288.169121,day,POINT (-35.25 -68.25)
4,2020-01-01,-35.25,-67.75,288.169121,day,POINT (-35.25 -67.75)
...,...,...,...,...,...,...
436795,2020-06-30,-49.75,-52.25,288.169121,night,POINT (-49.75 -52.25)
436796,2020-06-30,-49.75,-51.75,288.169121,night,POINT (-49.75 -51.75)
436797,2020-06-30,-49.75,-51.25,288.169121,night,POINT (-49.75 -51.25)
436798,2020-06-30,-49.75,-50.75,288.169121,night,POINT (-49.75 -50.75)
436799,2020-06-30,-49.75,-50.25,288.169121,night,POINT (-49.75 -50.25)

In [27]:
temperatureDF.dtypes

time             object
latitude        float64
longitude       float64
temperature     float64
partOfTheDay     object
geometry         object
dtype: object

In [28]:
#aisDF = gpd.read_file(DataDir / "clean_ais.shp")
aisDF = pd.read_csv(DataDir / "clean_ais.csv", )

In [29]:
aisDF

,BoatName,BoatID,Date,Latitude,Longitude,geometry
0,Mason,111,2020-01-01 08:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777)
1,Mason,111,2020-01-01 12:00:00,-38.035270,-57.527770,POINT (-38.03527 -57.52777)
2,Mason,111,2020-01-02 08:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777)
3,Mason,111,2020-01-02 12:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777)
4,Mason,111,2020-01-02 23:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777)
...,...,...,...,...,...,...
17664,Rodney,115,2020-06-12 19:00:00,-38.045196,-57.539603,POINT (-38.04519558 -57.5396032325)
17665,Rodney,115,2020-06-12 20:00:00,-38.045186,-57.539600,POINT (-38.045186040000004 -57.53960037)
17666,Rodney,115,2020-06-12 21:00:00,-38.045160,-57.539613,POINT (-38.045159913999996 -57.539612578)
17667,Rodney,115,2020-06-12 22:00:00,-38.045169,-57.539603,POINT (-38.04516888 -57.5396032325)
17668,Rodney,115,2020-06-12 23:00:00,-38.045191,-57.539609,POINT (-38.04519081 -57.5396089575)

In [30]:
aisDF.dtypes

BoatName      object
BoatID         int64
Date          object
Latitude     float64
Longitude    float64
geometry      object
dtype: object

In [32]:
#fishingDF = gpd.read_file(DataDir / "geoFishing.shp")
fishingDF = pd.read_csv(DataDir / "geoFishing.csv")

In [33]:
fishingDF

,BoatName,BoatID,Trip,Day,Kg,Duration,Lines,Temperature,Latitude,Longitude,geometry
0,Mason,111,2020-1,2020-01-12,11492,12,60,14.5,-45.100000,-62.000000,POINT (-45.1 -62)
1,Mason,111,2020-1,2020-01-13,10582,12,60,14.5,-45.033333,-62.100000,POINT (-45.0333333333333 -62.1)
2,Mason,111,2020-1,2020-01-18,21164,12,60,13.5,-44.833333,-63.816667,POINT (-44.8333333333333 -63.8166666666667)
3,Mason,111,2020-1,2020-01-19,18980,12,60,14.0,-44.833333,-63.833333,POINT (-44.8333333333333 -63.8333333333333)
4,Mason,111,2020-1,2020-01-20,16796,12,60,13.7,-44.866667,-63.816667,POINT (-44.866666666666696 -63.8166666666667)
...,...,...,...,...,...,...,...,...,...,...,...
639,Rodney,115,2020-5,2020-06-21,21790,12,100,11.0,-42.016667,-59.466667,POINT (-42.0166666666667 -59.4666666666667)
640,Rodney,115,2020-5,2020-06-22,20410,12,100,11.2,-42.050000,-59.450000,POINT (-42.05 -59.45)
641,Rodney,115,2020-5,2020-06-25,23330,12,100,10.3,-42.083333,-59.416667,POINT (-42.0833333333333 -59.4166666666667)
642,Rodney,115,2020-5,2020-06-26,8120,12,100,10.9,-41.916667,-59.433333,POINT (-41.9166666666667 -59.4333333333333)
643,Rodney,115,2020-5,2020-06-27,2530,12,100,10.6,-41.616667,-59.566667,POINT (-41.6166666666667 -59.5666666666667)

In [34]:
fishingDF.dtypes

BoatName        object
BoatID           int64
Trip            object
Day             object
Kg               int64
Duration         int64
Lines            int64
Temperature    float64
Latitude       float64
Longitude      float64
geometry        object
dtype: object

## 2. Same grid
Temperature and chlorophyll data are already preprocessed (homogenized) to use the common resolution of 0.5º, meaning that each coordinate in these data sets is actually covering a square of 0.5º of size.

In [148]:
fishingDF['normLat'] = abs(-90 - fishingDF.Latitude) // 0.5
fishingDF['normLon'] = abs(-180 - fishingDF.Longitude) // 0.5

fishingDF

,BoatName,BoatID,Trip,Day,Kg,Duration,Lines,Temperature,Latitude,Longitude,geometry,normLat,normLon
0,Mason,111,2020-1,2020-01-12,11492,12,60,14.5,-45.100000,-62.000000,POINT (-45.1 -62),89.0,236.0
1,Mason,111,2020-1,2020-01-13,10582,12,60,14.5,-45.033333,-62.100000,POINT (-45.0333333333333 -62.1),89.0,235.0
2,Mason,111,2020-1,2020-01-18,21164,12,60,13.5,-44.833333,-63.816667,POINT (-44.8333333333333 -63.8166666666667),90.0,232.0
3,Mason,111,2020-1,2020-01-19,18980,12,60,14.0,-44.833333,-63.833333,POINT (-44.8333333333333 -63.8333333333333),90.0,232.0
4,Mason,111,2020-1,2020-01-20,16796,12,60,13.7,-44.866667,-63.816667,POINT (-44.866666666666696 -63.8166666666667),90.0,232.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,Rodney,115,2020-5,2020-06-21,21790,12,100,11.0,-42.016667,-59.466667,POINT (-42.0166666666667 -59.4666666666667),95.0,241.0
640,Rodney,115,2020-5,2020-06-22,20410,12,100,11.2,-42.050000,-59.450000,POINT (-42.05 -59.45),95.0,241.0
641,Rodney,115,2020-5,2020-06-25,23330,12,100,10.3,-42.083333,-59.416667,POINT (-42.0833333333333 -59.4166666666667),95.0,241.0
642,Rodney,115,2020-5,2020-06-26,8120,12,100,10.9,-41.916667,-59.433333,POINT (-41.9166666666667 -59.4333333333333),96.0,241.0
643,Rodney,115,2020-5,2020-06-27,2530,12,100,10.6,-41.616667,-59.566667,POINT (-41.6166666666667 -59.5666666666667),96.0,240.0

In [149]:
aisDF['normLat'] = abs(-90 - aisDF.Latitude) // 0.5
aisDF['normLon'] = abs(-180 - aisDF.Longitude) // 0.5

aisDF

,BoatName,BoatID,Date,Latitude,Longitude,geometry,normLat,normLon
0,Mason,111,2020-01-01 08:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777),103.0,244.0
1,Mason,111,2020-01-01 12:00:00,-38.035270,-57.527770,POINT (-38.03527 -57.52777),103.0,244.0
2,Mason,111,2020-01-02 08:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777),103.0,244.0
3,Mason,111,2020-01-02 12:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777),103.0,244.0
4,Mason,111,2020-01-02 23:00:00,-38.035000,-57.527770,POINT (-38.035 -57.52777),103.0,244.0
...,...,...,...,...,...,...,...,...
17664,Rodney,115,2020-06-12 19:00:00,-38.045196,-57.539603,POINT (-38.04519558 -57.5396032325),103.0,244.0
17665,Rodney,115,2020-06-12 20:00:00,-38.045186,-57.539600,POINT (-38.045186040000004 -57.53960037),103.0,244.0
17666,Rodney,115,2020-06-12 21:00:00,-38.045160,-57.539613,POINT (-38.045159913999996 -57.539612578),103.0,244.0
17667,Rodney,115,2020-06-12 22:00:00,-38.045169,-57.539603,POINT (-38.04516888 -57.5396032325),103.0,244.0
17668,Rodney,115,2020-06-12 23:00:00,-38.045191,-57.539609,POINT (-38.04519081 -57.5396089575),103.0,244.0

In [150]:
chlorophyllDF['normLat'] = abs(-90 - chlorophyllDF.latitude) // 0.5
chlorophyllDF['normLon'] = abs(-180 - chlorophyllDF.longitude) // 0.5

chlorophyllDF

,time,latitude,longitude,chlor_a,geometry,normLat,normLon
0,2020-01-01,-35.25,-69.75,1.04,POINT (-35.25 -69.75),109.0,220.0
1,2020-01-01,-35.25,-69.25,1.04,POINT (-35.25 -69.25),109.0,221.0
2,2020-01-01,-35.25,-68.75,1.04,POINT (-35.25 -68.75),109.0,222.0
3,2020-01-01,-35.25,-68.25,1.04,POINT (-35.25 -68.25),109.0,223.0
4,2020-01-01,-35.25,-67.75,1.04,POINT (-35.25 -67.75),109.0,224.0
...,...,...,...,...,...,...,...
218395,2020-06-30,-49.75,-52.25,1.04,POINT (-49.75 -52.25),80.0,255.0
218396,2020-06-30,-49.75,-51.75,1.04,POINT (-49.75 -51.75),80.0,256.0
218397,2020-06-30,-49.75,-51.25,1.04,POINT (-49.75 -51.25),80.0,257.0
218398,2020-06-30,-49.75,-50.75,1.04,POINT (-49.75 -50.75),80.0,258.0
218399,2020-06-30,-49.75,-50.25,1.04,POINT (-49.75 -50.25),80.0,259.0

In [152]:
temperatureDF['normLat'] = abs(-90 - temperatureDF.latitude) // 0.5
temperatureDF['normLon'] = abs(-180 - temperatureDF.longitude) // 0.5

temperatureDF

,time,latitude,longitude,temperature,partOfTheDay,geometry,normLat,normLon
0,2020-01-01,-35.25,-69.75,288.169121,day,POINT (-35.25 -69.75),109.0,220.0
1,2020-01-01,-35.25,-69.25,288.169121,day,POINT (-35.25 -69.25),109.0,221.0
2,2020-01-01,-35.25,-68.75,288.169121,day,POINT (-35.25 -68.75),109.0,222.0
3,2020-01-01,-35.25,-68.25,288.169121,day,POINT (-35.25 -68.25),109.0,223.0
4,2020-01-01,-35.25,-67.75,288.169121,day,POINT (-35.25 -67.75),109.0,224.0
...,...,...,...,...,...,...,...,...
436795,2020-06-30,-49.75,-52.25,288.169121,night,POINT (-49.75 -52.25),80.0,255.0
436796,2020-06-30,-49.75,-51.75,288.169121,night,POINT (-49.75 -51.75),80.0,256.0
436797,2020-06-30,-49.75,-51.25,288.169121,night,POINT (-49.75 -51.25),80.0,257.0
436798,2020-06-30,-49.75,-50.75,288.169121,night,POINT (-49.75 -50.75),80.0,258.0
436799,2020-06-30,-49.75,-50.25,288.169121,night,POINT (-49.75 -50.25),80.0,259.0

In [142]:
x = abs((-90 - (-89.5))) // 0.5
y = abs((-180 - (-179.5))) // 0.5

In [145]:
x = abs((-90 - (-89.7))) // 0.5
y = abs((-180 - (-179.7))) // 0.5